@import url('https://fonts.cdnfonts.com/css/cooper-black');
@import url('https://fonts.cdnfonts.com/css/urwclarendont');

html,body {
    background-color: #418c51;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

#background1 {
    background-image: url(https://s.hdnux.com/photos/46/34/00/10076184/4/rawImage.jpg);
    background-size: 30%;
}

h1 {
    color: #fbde4f;
    font-family: 'Cooper Black', sans-serif;
    text-align: left;
    font-size: 50px;
    padding: 15px;
}

h2 {
    color: #fbde4f;
    font-family: 'Cooper Black', sans-serif;
    text-align: center;
}

h3 {
    color: #fbde4f;
    font-family: 'Cooper Black', sans-serif;
}

p {
    font-size: 20px;
    color: #fffeff;
    font-family: 'ClarendonTBol', sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 0 10vw;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.albumText {
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 0 10vw;
}

audio {
    margin: 0 auto;
    display: block;
}

/* LANDING CSS */

.landing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 9vw 0 9vw;
    height: 975px;
}

.landingText h1 {
    font-family: 'Cooper Black', sans-serif;
    font-size: 100px;
    text-align: center;
    color: #fbde4f;
}

.landingText h3 {
    font-family: 'Cooper Black', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #fffeff;
}

.landingText p {
    font-family: 'ClarendonTBol', sans-serif;
    color: #fbde4f;
    justify-content: space-between;
    font-size: 22px;
}

.landingImage img {
    width: 550px;
}

/* TIMELINE */

.timeline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #ccc;
    transform: translateX(-50%);
}

.timeline::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.timeline-event {
    position: relative;
    width: 300px;
    padding: 20px;
    background-color: #418c51;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-right: 20px;
}

.timeline-event:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #ccc;
    border-bottom: 10px solid transparent;
    transform: translateY(-50%);
}

.timeline-event:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.timeline-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 40px;
}

.timeline-event-date {
    color: #fffeff;
    font-family: 'Courier New', monospace;
}